.App {
  text-align: center;
  max-width: 1200px;
  min-width: 750px;
  margin-top: 5vh;
}
html,body, .App, #root, main,  .selector-container{
  height: 100%;
  background-color: #E5ECE9;
}
.row{
  height: 90%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 60px;
}

.App-header {
  background-color: #969A97;
  height: 150px;
  padding: 20px;
  color: #D6D1CD;
  fill : white;
}

.App-title {
  font-size: 2.5em;
  color : #D6D1CD;
}

.App-intro {
  font-size: large;
}
.btn{
  background-color: #846b73;
  border-color: #8e6b7e;
  margin: 0 20px;
}
.btn:hover{
  background-color: #705563;
  border-color: #8e6b7e;
}

.btn-success{
  background-color: #58a068;
}
.btn-danger{
  background-color: #db4a58;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.selector-container{
  background-color: #D6D1CD;
}

.selector-container-button-yes, .selector-container-button-no{
  display: inline;
  /* background-color: #ec9e69; */
}

.photo-page-container{
  /* display: inline; */
  /* display: flex; */
  margin:auto;
  width: 95%;
  max-height: 50vh;
}
.selector-container-image{
  /* width: 100%;
  max-height: 100%; */
  width: 100%;
  max-height: 40vh;
  margin: 20px auto;
}
.user-bio-container{
  font-size: 2em;
  padding : 15px;
  vertical-align: bottom;
  background-color: #E5ECE9;
  
}
.page-footer{
  /* position: absolute; */
  bottom: 0;
  /* width: inherit; */
  background-color: #969A97;
  color: wheat;
  height: 60px;
}
.matches_container_matches-image{
  border: 2px solid purple;
}

.matches-phone{
  color: #705563;
}




@media only screen and (max-width: 750px){
  .App{
    min-width: 400px;
  }
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 30px;
  }
  
  .App-header {
    /* background-color: #222; */
    height: 75px;
    padding: 10px;
    /* color: white; */
  }
  
  .App-title {
    font-size: 1em;
  }
  
  .App-intro {
    font-size: small;
  }
  .user-bio-container{
    font-size: 1em;
    padding : 5px;
  }
  
  .selector-container-button-yes, .selector-container-button-no{
    display: none;
  }
  .selector-container-image{
    margin: 0 0 10px 0;
  }
  .matches-name, .matches-email, .matches-phone{
    margin-bottom : 2px;
  }
  .matches-name{
    margin-top: 2px;
  }
  .matches_container_matches-image{
    border: 2px solid purple;
  }
  hr{
    margin-top: 5px;
  }
  .btn, .btn-primary{
    margin : 0 3px;
  }
}

@media only screen and (max-width: 350px){
  .btn{
    margin: 0 5px;
  }
}