.App {
  text-align: center;
}
html,body, .App, #root, main,  .selector-container{
  height: 100%;
  background-color: #FCF7FF;
}
.row{
  height: 90%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
}

.App-header {
  background-color: #7a4579;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.2em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.selector-container{
  background-color: #ddddf3;
}

.selector-container-button-yes, .selector-container-button-no{
  display: inline;
  /* background-color: #ec9e69; */
}

.photo-page-container{
  /* display: inline; */
  /* display: flex; */
  margin:auto;
  width: 95%;
  max-height: 50vh;
}
.selector-container-image{
  /* width: 100%;
  max-height: 100%; */
  width: inherit;
  max-height: 40vh;
  margin: 20px auto;
}
.user-bio-container{
  font-size: 2em;
  padding : 15px;
  vertical-align: bottom;
}
.page-footer{
  /* position: absolute; */
  bottom: 0;
  /* width: inherit; */
  background-color: #655560;
  color: wheat;
  height: 60px;
}




@media only screen and (max-width: 700px){
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 30px;
  }
  
  .App-header {
    background-color: #222;
    height: 75px;
    padding: 10px;
    color: white;
  }
  
  .App-title {
    font-size: 1em;
  }
  
  .App-intro {
    font-size: small;
  }
  .user-bio-container{
    font-size: 1em;
    padding : 5px;
  }
  
  .selector-container-button-yes, .selector-container-button-no{
    display: none;
  }

}